.test {
  text-align: center;
}

.test-header {
	margin-bottom: 30px;
}

ul li, .button {
	background-color:#eee;
    color:#7B8585;
	transition:0.3s;
}

.button {
	margin-top: 30px;
	padding: 8px 15px;
	width: 100px;
	margin-left: auto;
	margin-right: auto
}

ul li{
    display: block;
	margin-bottom: 10px;
    cursor:pointer;
	width: 50%;
	margin-left: auto;
	margin-right: auto
}

li {
    padding: 10px 20px;
}

ul li:hover, .button:hover{
    background-color:#beecea;
}
